.container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #36a8f4;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
    color: white;
  }
  
  .task-list li {
    margin-bottom: 10px;
    
}
  .task-list li button{
    align-content: end;
  }
  .edit-btn {
    background-color: #4CAF50;
    color: white;
    align-items: end;
    
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
    margin: 10px;
  }
  